.team {
  max-width: 43%;
  margin: 0.2rem 0 1rem;
  &:nth-child(even) {
    text-align: right;
  }
}
.players {
  width: fit-content;
  position: relative;
}
.info {
  transition: height 0.3s;
}
.icon {
  position: absolute;
  width: 0.8rem;
  bottom: calc(100% + 2px);
  left: calc(50% - 0.4rem);
  fill: var(--orange-40);
  stroke: var(--gray-90);
}
