body[data-appearance="dark"]{
    --background-page: var(--gray-80);
    --color-page: var(--gray-10);
    --color-secondary: var(--gray-60);
    --border-page: var(--gray-90);
    --icon-fill: var(--gray-10)
}