body[data-appearance="light"]{
    --background-page: var(--gray-10);
    --color-page: var(--gray-100);
    --color-secondary: var(--gray-40);
    --border-page: var(--gray-30);
    --icon-fill: var(--gray-90)
}