@keyframes fadeIn-loader {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;

  animation: fadeIn-loader 0s;
}
.dot {
  margin: 0 0.4rem;
  animation: loading 1.4s infinite forwards;
  height: 8px;
  width: 8px;
  border: 1px solid var(--gray-90);
  background-color: var(--orange-50);

  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.4s;
  }
}
