.screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.frame {
  width: 30rem;
  min-height: 45rem;
  padding: 2rem;
}

.title {
  height: 2.4rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .screen {
    align-items: flex-start;
    box-sizing: border-box;
  }

  .title {
    margin-bottom: 1rem;
  }

  .frame {
    order: -1;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    max-height: fit-content;
  }
}
