
@import './root.scss';
@import './accesability.scss';

html {
  font-size: 16px;
}
* {
  outline: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--orange-50)
}
body {
  font-family: var(--font);
  cursor: default;
  color: #fff;
  background-color: var(--gray-70);
}
section {
  position: relative;
}
ul {
  list-style: none;
}
textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--font);
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  &[disabled] {
    cursor: default;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--gray-40);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: var(--gray-40);
}

button {
  cursor: pointer;
}

// убирает цвет автокомплита у инпута
input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    font-size: 1rem;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}


h1 {
  font-size: 6rem;
  letter-spacing: -0.026em;
}
h2 {
  font-size: 3.75rem;
  letter-spacing: -0.025em;
}
h3 {
  font-size: 3rem;
  letter-spacing: -0.01em;
}
h4 {
  font-size: 2.125rem;
  font-weight: 600;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--blue-100);
}
h6 {
  font-size: 1.25rem;
  letter-spacing: 0.0075em;
  color: var(--blue-100);
}
@media screen and (max-width: 1024px) {
  h4 {
    font-size: 1.5rem;
  }
}
*::-webkit-scrollbar {
    // width: .5%;
    width: 10px;
    min-width: 10px;
}

*::-webkit-scrollbar-track {
    background: 0 0
}

*::-webkit-scrollbar-thumb {
    border: 1px solid var(--gray-70);
    background: var(--orange-40)
}
