:root {
    //GRAY   
    --gray-0: #f7f7fa;
    --gray-5: #ededf0;
    --gray-10: #e1e1e3;
    --gray-20: #d2d2d6;
    --gray-30: #b4b4bb;
    --gray-40: #9696a0;
    --gray-50: #787885;
    --gray-60: #5a5b6a;
    --gray-70: #4a4b57;
    --gray-80: #3a3a44;
    --gray-90: #292a31;
    --gray-100: #19191d;
   
    //BLUE
    --blue-0:#F5F8FF;
    --blue-5:#EBF2FF;
    --blue-10: #d8e6ff;
    --blue-20:#C4DAFF;
    --blue-30:#9DC2FF;
    --blue-40:#76A9FF;
    --blue-50: #4f91ff;
    --blue-60: #2979FF;
    --blue-70:#2264D1;
    --blue-80:#1B4EA3;
    --blue-90:#133774;
    --blue-100: #0c2146;
    
    //GREEN
    --green-0:#F5FAF5;
    --green-5: #EDF6EE;
    --green-10:#DCEDDD;
    --green-20: #cbe5cc;
    --green-30:#A9D3AB;
    --green-40:#87C289;
    --green-50:#65B168;
    --green-60:#43A047;
    --green-70:#37833B;
    --green-80: #2b662e;
    --green-90:#1F4921;
    --green-100:#132C14;
  
    //YELLOW
    --yellow-0:#FFF8EB;
    --yellow-5:#FFEFD1;
    --yellow-10:#FFE5B3;
    --yellow-20:#FFD98F;
    --yellow-30:#F5CE84;
    --yellow-40:#EBBF67;
    --yellow-50:#E5AE40;
    --yellow-60:#D6981B;
    --yellow-70:#B88217;
    --yellow-80:#8F6512;
    --yellow-90:#66480D;
    --yellow-100:#463209;
    
    //RED
    --red-0: #fef2f1;
    --red-5: #fee8e7;
    --red-10: #fddcda;
    --red-50: #f6655a;
    --red-60: #f44336;
    --red-80: #9c2b23;
    --red-90: #6f1f19;
    
    //INDIGO
    --indigo-0: #f7f8fc;
    --indigo-5: #eff0fa;
    --indigo-10:#E1E4F3;
    --indigo-20:#D2D6ED;
    --indigo-30:#b4bbe2;
    --indigo-40:#97A0D6;
    --indigo-50:#7985CB;
    --indigo-60:#5C6BC0;
    --indigo-70:#4C589E;
    --indigo-80: #3b457b;
    --indigo-90:#2A3158;
    --indigo-100:#1A1E35;
    
    //TEAL
    --teal-0:#F0FAFA;
    --teal-5:#E5F5F5;
    --teal-10:#D1EBEC;
    --teal-20:#BBE2E2;
    --teal-30:#8DCFCF;
    --teal-40:#60BCBC;
    --teal-50:#33A9A9;
    --teal-60:#069697;
    --teal-70:#057B7C;
    --teal-80:#046061;
    --teal-90:#034545;
    --teal-100:#02292A;
    
    //ORANGE
    --orange-0:#FFF6ED;
    --orange-5:#FFEFDE;
    --orange-10:#FEE8D0;
    --orange-20:#FDDCB9;
    --orange-30:#FDC68B;
    --orange-40:#FCAF5C;
    --orange-50:#FB982E;
    --orange-60:#FB8200;
    --orange-70:#CE6B00;
    --orange-80:#A05300;
    --orange-90:#733C00;
    --orange-100:#452400;

    //PINK
    --pink-0:#FFF7FA;
    --pink-5:#FDEDF2;
    --pink-10:#FBDCE6;
    --pink-20:#F9CADA;
    --pink-30:#F6A8C2;
    --pink-40:#F285AA;
    --pink-50:#EF6292;
    --pink-60:#EC407A;
    --pink-70:#C23564;
    --pink-80:#97294E;
    --pink-90:#6C1E38;
    --pink-100:#411222;
  }