.header {
  margin-bottom: 2rem;
  font-family: var(--font-press-start);
  display: flex;
  align-items: center;
  position: relative;
}

.buttonPlace {
  position: absolute;
  width: 2rem;
}

.title {
  text-align: center;
  width: 100%;
}
