.player {
  margin-bottom: 0.2rem;
  color: var(--gray-60);
  display: block;
  &.current {
    pointer-events: none;
    font-weight: 600;
    color: var(--gray-100);
  }
  &:not(.current):hover {
    color: var(--orange-40);
  }
}

@media screen and(max-width:1024px) {
  .player {
    font-size: 0.9rem;
  }
}
