.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin-bottom: 1rem;
  background-color: var(--gray-10);
  &.fixed {
    position: fixed;
    & {
      .info {
        border-radius: 0;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .played {
        display: none;
      }
      .score {
        font-size: 1.1rem;
      }
    }
  }
}

.info {
  position: relative;
  border: 1px solid var(--gray-30);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1rem 1rem 1.1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.score {
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.4rem;
}

.played {
  justify-content: flex-end;
  font-size: 1rem;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
}

.games {
  padding-left: 0.6rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
  &.wins {
    color: var(--green-50);
  }
  &.looses {
    color: var(--red-50);
  }
}

.winrate {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--gray-100);
  text-align: right;
  width: 100%;
}
