.game {
  margin-bottom: 1rem;
  border: 1px solid var(--gray-90);
  padding: 0.6rem 1rem 0.8rem;
  box-sizing: border-box;
  position: relative;
}

.teams {
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.date {
  text-align: right;
  font-size: 0.8rem;
  color: var(--gray-80);
  letter-spacing: 0.02rem;
}
