.player {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0.4rem;
  position: relative;
  counter-increment: ladder;
  border-bottom: 1px solid var(--gray-70);
  &::before {
    font-size: 0.9rem;
    color: var(--gray-40);
    content: counter(ladder) '.';
  }
}

.score {
  color: var(--gray-60) !important;
  letter-spacing: 0.1rem;
}

.content {
  padding-left: 0.8rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
