.player {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--gray-70);
  counter-increment: ladder;
  &::before {
    content: counter(ladder);
  }
}
