.player {
  margin-bottom: 0.2rem;
  color: var(--gray-80);
  display: block;
  border-bottom: 1px solid transparent;
  transition: border 0.2s;
  &.current {
    pointer-events: none;
    font-weight: 700;
    color: var(--gray-100);
  }
  &:not(.current):hover {
    border-color: var(--gray-50);
    color: var(--gray-100);
  }
}

@media screen and(max-width:1024px) {
  .player {
    font-size: 0.9rem;
  }
}
