.avatar {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  box-sizing: border-box;
}
.icon {
  padding: 1px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
