.message {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  font-family: var(--font-press-start);
  letter-spacing: -0.02rem;
  text-align: center;
  top: 0;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}
