.wrapper {
  width: 100%;
  padding: 0 1.875rem;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 1rem;
    background-color: var(--gray-10);
  }
}
